@import "./font/font-face.css";

:root {
  --green: hsl(120, 100%, 60%);
  --red: hsl(0, 94%, 65%);
  --yellow: hsl(60, 100%, 60%);
  --blue: hsl(230, 100%, 75%);
  --grey: hsl(0, 0%, 20%);
  --orange: hsl(28deg 100% 54%);
}

body {
  font-family: "Mali", cursive;
  padding-top: 4em;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

button {
  font-family: inherit;
  font-size: 2em;
  border: none;
}

#title {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black, 0 0 6px black, 0 0 7px black, 0 0 8px black;
}

#title .green {
  color: var(--green);
}
#title .red {
  color: var(--red);
}
#title .yellow {
  color: var(--yellow);
}
#title .blue {
  color: var(--blue);
}
#title .orange {
  color: var(--orange);
}

#container {
  --spacing: 1em;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--spacing);
  padding: var(--spacing);
  background-color: var(--grey);
  border-radius: 50%;
  width: 70%;
  max-width: 500px;
}

#container.mistake {
  position: relative;
  filter: blur(8px);
}

#container.mistake::after {
  content: "";
  position: absolute;
  inset: 0;
}

.color {
  position: relative;
  padding: 0;
  background-color: transparent;
}

.color svg {
  width: 100%;
  position: relative;
}

.color svg .clip-path {
  transform-origin: 50%;
}

.color svg .fill {
  cursor: pointer;
}

.color svg.shadow {
  --padding: 5px;

  position: absolute;
  top: calc(var(--padding) * -1);
  left: calc(var(--padding) * -1);
  width: calc(100% + calc(var(--padding) * 2));
  height: calc(100% + calc(var(--padding) * 2));

  display: none;
  filter: blur(var(--padding));
}

.color:disabled svg .fill {
  cursor: not-allowed;
}

.color:not(:disabled):not(:active):not(.active) svg .fill:hover {
  filter: brightness(0.9);
}

.color.active svg .fill,
.color:not(:disabled):active svg .fill {
  filter: saturate(10) brightness(1.2);
}

.color.active svg.shadow,
.color:not(:disabled):active svg.shadow {
  display: initial;
}

.color.green svg .fill {
  fill: var(--green);
  clip-path: url(#green-path);
}

.color.green svg.shadow .fill {
  clip-path: url(#green-path-shadow);
}

.color.red svg .clip-path {
  transform: rotate(90deg);
}

.color.red svg .fill {
  fill: var(--red);
  clip-path: url(#red-path);
}

.color.red svg.shadow .fill {
  clip-path: url(#red-path-shadow);
}

.color.yellow svg .clip-path {
  transform: rotate(-90deg);
}

.color.yellow svg .fill {
  fill: var(--yellow);
  clip-path: url(#yellow-path);
}

.color.yellow svg.shadow .fill {
  clip-path: url(#yellow-path-shadow);
}

.color.blue svg .clip-path {
  transform: rotate(180deg);
}

.color.blue svg .fill {
  fill: var(--blue);
  clip-path: url(#blue-path);
}

.color.blue svg.shadow .fill {
  clip-path: url(#blue-path-shadow);
}

#controls #level-text {
  display: none;
  font-size: 2em;
}

#controls #play {
  border: 8px #333 solid;

  /* Orange */
  background-color: var(--orange);

  /* Pink */
  /* background-color:hsl(313deg 89% 79%) */

  /* background-image: linear-gradient(
    90deg,
    hsl(120deg 100% 60%) 0%,
    hsl(76deg 100% 44%) 10%,
    hsl(53deg 100% 42%) 20%,
    hsl(37deg 100% 48%) 30%,
    hsl(21deg 100% 58%) 40%,
    hsl(0deg 94% 65%) 50%,
    hsl(343deg 100% 65%) 60%,
    hsl(329deg 88% 65%) 70%,
    hsl(306deg 61% 64%) 80%,
    hsl(268deg 75% 72%) 90%,
    hsl(230deg 100% 75%) 100%
  ); */
  text-shadow: 0 0 10px black;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5em 2em;
  border-radius: 0.4em;
  cursor: pointer;
}

#controls.playing #level-text {
  display: initial;
}

#controls.playing #play {
  display: none;
}
