:root {
  --green: hsl(120, 100%, 75%);
  --red: hsl(0, 100%, 75%);
  --yellow: hsl(60, 100%, 75%);
  --blue: hsl(230, 100%, 75%);
  /*! Try brightness filter instead of defining other colors */
  --hover-green: hsl(120, 100%, 60%);
  --hover-red: hsl(0, 100%, 60%);
  --hover-yellow: hsl(60, 100%, 60%);
  --hover-blue: hsl(230, 100%, 60%);
  --active-green: hsl(120, 100%, 40%);
  --active-red: hsl(0, 100%, 40%);
  --active-yellow: hsl(60, 100%, 40%);
  --active-blue: hsl(230, 100%, 40%);
}

body {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2em;
}

#container {
  --spacing: 1em;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--spacing);
  padding: var(--spacing);
  background-color: #333333;
  border-radius: 50%;
  width: 70%;
  max-width: 500px;
}

#container.mistake {
  position: relative;
  filter: blur(8px);
}

#container.mistake::after {
  content: "";
  position: absolute;
  inset: 0;
}

.color {
  border: none;
  padding: 0;
  background-color: transparent;
}

.color svg {
  width: 100%;
}

.color svg .clip-path {
  transform-origin: 50%;
}

.color svg .fill {
  cursor: pointer;
}

.color:disabled svg .fill {
  cursor: not-allowed;
}

.color.green svg .fill {
  fill: var(--green);
  clip-path: url(#green-path);
}

.color.green:not(:disabled) svg .fill:hover {
  fill: var(--hover-green);
}

.color.green.active svg .fill,
.color.green:not(:disabled) svg .fill:active {
  fill: var(--active-green);
}

.color.red svg .clip-path {
  transform: rotate(90deg);
}

.color.red svg .fill {
  fill: var(--red);
  clip-path: url(#red-path);
}

.color.red:not(:disabled) svg .fill:hover {
  fill: var(--hover-red);
}

.color.red.active svg .fill,
.color.red:not(:disabled) svg .fill:active {
  fill: var(--active-red);
}

.color.yellow svg .clip-path {
  transform: rotate(-90deg);
}

.color.yellow svg .fill {
  fill: var(--yellow);
  clip-path: url(#yellow-path);
}

.color.yellow:not(:disabled) svg .fill:hover {
  fill: var(--hover-yellow);
}

.color.yellow.active svg .fill,
.color.yellow:not(:disabled) svg .fill:active {
  fill: var(--active-yellow);
}

.color.blue svg .clip-path {
  transform: rotate(180deg);
}

.color.blue svg .fill {
  fill: var(--blue);
  clip-path: url(#blue-path);
}

.color.blue:not(:disabled) svg .fill:hover {
  fill: var(--hover-blue);
}

.color.blue.active svg .fill,
.color.blue:not(:disabled) svg .fill:active {
  fill: var(--active-blue);
}

#controls #level-text {
  display: none;
}

#controls.playing #level-text {
  display: initial;
}

#controls.playing #play {
  display: none;
}
